* {
    margin: 0;
    padding: 0;
}
img1{
    height: 650px;
    width: 100%;
}


.part1 {
    background: url(image/Star5_9_Star5_9_DSC_2829_desktop_1e6d60597e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    padding: 3%;

}

.nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;


}

.logo {
    position: relative;
    top: -30px;
    width: 200px;
    height: 100px;
}

.search {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    align-items: center;
    color: white;
}
.title1 a{
    position: absolute;
    left: 50px;
    bottom: 240px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.title2 a{
    position: absolute;
    left: 50px;
    bottom: 180px;
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.button1{
    position: absolute;
    left: 50px;
    bottom: 90px;
    height: 50px;
    width: 180px;
    background: transparent;
    border: white solid 1px;
    color: white;
    
    
}
.part2 {
    background: url("image/Haven1_Hero_5_2600x1400_a23f540f5f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
 
}
.title3 a{
  position: absolute;
  left: 50px;
  bottom: -340px;
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    display: flex;
}

.title4 a{
    margin-top: 335px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    display: flex;
}

.button2{
   
    position: absolute;
    left: 50px;
    bottom: -500px;
    height: 50px;
    width: 180px;
     background: transparent;
    border: white solid 1px;
    color: white;
    
}
.part3{
    background: url("image/STARSHIP_Testflight_DESKTOP_2b3bea613a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.title5 a{
    position: absolute;
    left: 50px;
    bottom:-940px;
      text-decoration: none;
      color: white;
      font-size: 40px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bolder;
      display: flex;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.title6 a{
    position: absolute;
    left: 50px;
    bottom:-1000px;
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.button3{
    position: absolute;
    left: 50px;
    bottom:-1050px;
    height: 50px;
    width: 180px;
     background: transparent;
    border: white solid 1px;
    color: white;
}
footer{
    width: 100%;
    height: 85px;
    background-color: black;
}
.search2 {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between; 
    align-items: center;
    color: white;
    padding: 30px;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* left: 30px; */


}